# Blacklist files/folders in same directory as the .gitignore file
/*
**/.DS_Store

# Whitelist some files
!.gitignore
!README.md

!themes
!themes/default/*

!app
!app/conf/*

app/controllers/
app/helpers/
app/lib/
app/locale/
app/models/
app/plugins/
app/printTemplates/
app/service/
app/tmp/
app/version.php

